body {
    background: #f1f2f5
}

.App {
    box-sizing: border-box;
    width: 600px;
    margin: 0 auto
}
button {
    min-width:100px;
    height: 35px;
    border: none;
    font-size: 14px;
    background-color: #1c7ed6;
    color: #fff;
    transition:  all .3s ease-in-out;
    font-family: 'Lato', sans-serif;
    /* padding-bottom: 2px; */
}

button:hover {
    transition: all .2s ease-in-out;
    background-color: #165896;
    cursor: pointer;
    box-shadow: 0 0 10 rgba(0,0,0,.1);
}
button:focus{
    outline: none;
}

button:active{
    transform: translateY(2px);
}



#moves {
    outline: none;
    border: none;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1), 0 0 4px 0 rgba(0,0,0,.08);
    height: 32px;
    transition: box-shadow .2s,-webkit-box-shadow .2s;
    padding-left: 10px;
}

#apply_moves {
    margin-left: 20px;
}